<html>
    <head>Headings</head>
<body>
    <h1>nível 1</h1>
    <h2>nível 2</h2>
    <h3>nível 3</h3>
    <h4>nível 4</h4>
    <h5>nível 5</h5>
    <h6>nível 6</h6>


    <p>Aqui tem uma imagem do site pudim.com.br</p>
    <img src="http://pudim.com.br/pudim.jpg" alt = "Foto feia do Pudim">

    <p>Aqui vem um paragágrafo de texto</p>
    <p>Aqui tem outro parágrafo de texto</p>
    <ol>
        <li>aqui é o primeiro item da lista</li>
        <li>aqui é o segundo item da lista</li>
    </ol>

</body>
</html>
